<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Confirm Your Email Address</title>
</head>

<body>
  <h1>Email Confirmation</h1>
  <p>
    Hi <strong>{{username}}</strong>,
    <br />
    Please click the following button to confirm your email <strong>{{email}}</strong> for Pumpay.
  </p>
  <a href="{{callbackUrl}}">Confirm email address</a>
</body>

</html>